<div id="intro">
    <h2>Welcome to GemNotifier!</h2>
    <p>Subscribe to receive email notifications when your favorite gems have new versions!</p>
    <% if current_user.nil? %>
        <a href="/auth/github" class="signin">Sign In With Github</a>
    <% end %>
    <a href="/with_gemfile" class="gemfile">Subscribe with Gemfile</a>
</div>
<div id="search">
    <%= form_tag('/search', :method => :get) do %>
        <div class="text_field">
            <%= text_field_tag :query %>
        </div>
        <div class="button_field">
            <%= submit_tag "Search" %>
        </div>
        <div class="clear"></div>
    <% end %>
</div>
<div>
    <div class="most_updated_gems">
        <h3>Latest Updated Gems</h3>
        <ul>
            <% for gem_item in @most_updated_gems %>
                <li><%= link_to gem_item.name, gem_item_path(gem_item) %> (<%= gem_item.version %>)</li>
            <% end %>
        </ul>
    </div>
    <div class="most_subscribed_gems">
        <h3>Most Subscribed Gems</h3>
        <ul>
            <% for gem_item in @most_subscribed_gems %>
                <li><%= link_to gem_item.name, gem_item_path(gem_item) %> (<%= gem_item.version %>)</li>
            <% end %>
        </ul>
    </div>
    <div class="clear"></div>
</div>
