<div class="gem_item">
    <div class="field">
        <label>Name:</label> <span><%= @gem_item.name %></span>
    </div>
    <div class="field">
        <label>Info:</label><span><%= @gem_item.info %></span>
    </div>
    <div class="field">
        <label>Authors:</label><span><%= @gem_item.authors %></span>
    </div>
    <div class="field">
        <label>Version:</label><span><%= @gem_item.version %></span>
    </div>
    <div class="field">
        <label>Downloads of this version:</label><span><%= @gem_item.version_downloads %></span>
    </div>
</div>